 <div class="contenedor" id="contenedor">
   <img src="../assets/img/margen2.jpg" alt="" srcset="" id="certificado">
    <div class="proveedores"><h1><u>CERTIFICADO DE PROVEEDORES </u></h1></div>
    <div class="express"><h1><u>EVALUACION EXPRESS</u></h1> </div>
    <div class="texto-encima">
<p>Una vez completado el proceso de Evaluación  <input type="text" size="6" > de proveedores solicitado por la empresa <input type="text" size="10" class="nombreem"> 
informamos que acuerdo y conforme a los parametros establecidos para este proposito, el proveedor:
</p></div>
<div class="sinBorde" ></div><br>
<div class="sinBordeCalifi"><input type="text" class="sinBorde"size=907  maxlength=37></div><br><br><br><br>
<div class="texto"><p>Ha obtenido el siguiente nivel de riesgo.</p></div>
<table  border="1"class="tabla">
  <tr>
  <td>DOCUMENTACION <br>VERIFICADA</td>
         <td>RIESGO</td>  
</tr>
<tr>
<td><input type="text" size="5" >%</td>
<td><input type="text"text-align: center></td>
</tr>
</table>
<div class="texto1"><p>Es importante menciona que independientemente de nuestra recomendación,quien<br>toma la desición final 
 de trabajar o no con el proveedor es:<input type="text" size=8 > </p></div>
<div class="fecha1">Fecha de emisión:<input type="date" ></div>
<div class="fecha2">Fecha de caducación:<input type="date" ></div>
<div class="importante">
  <p>Importante:</p>
  <p>el nivel de riesgo obtenido en el proceso se profundamente en la información 
    y documentación proporcionada por<input type="text"size="20">..., la falta de <br> información o documentacion podria haber influenciado en el nivel de riesgo final obtenido. </p>
<div class="direccion">
  <p>ServiRating S.A...,se ha limitado ezclusivamente a verificar y analizar
    la información del evaluado para otorgar el nivel de riesgo,tomando en cuenta<br>los parametros establecidos 
    y acordados<input type="text" size="7"></p></div>
  <div class="direcci">
    <p>Av.Francisco de Orellana E2-30 y Av.10 de Agosto,edificio Francisco de Orellana Piso 9.Of.904</p>
    <p>Teléfonos:(02) 900351 / 0992752317</p>
   <b><u>www.servirating.com</u></b>
  </div>
</div> 
<button type="button" class="btn btn-outline-success" (click)="generarPDF()" >Descargar PDF</button>